################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JobManagementAPI/.vs/JobManagementAPI/FileContentIndex/02bcf6c8-cf81-44bc-a377-6a42e2c91208.vsidx
